html {
    background: radial-gradient(#46e797,#131313);
  
}
  
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;  
    padding: 0; 
}

li{
    list-style-type: none;
    font-size: 20px;
    margin-top: 10px;  
    text-align: center;
}

img{
    height: 50px;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    margin-top: 15px;
    float: right;
}


.aboutB{
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: radial-gradient(#5ce4b0,#46e797); 
    border-radius: 15px ;
    margin-top: 50px; 
}

#name{
    width: 370px;   
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;    
}

#dir{
    width: 370px;    
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;    
}

#tel{
    width: 370px;   
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;    
}

#email{
    width: 370px;    
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;    
}

#genr{
    width: 370px;    
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-top: 10px;    
}
